@import "utils/variables";

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 0 3px rgba(128, 128, 128, 0.5);
  }
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.items-menu {
  width: 45px;
  gap: 0.2rem;
  height: 40px;
  display: flex;
  cursor: pointer;
  font-size: .875rem;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.5s ease;
  border: 1px solid rgba($color: #334155, $alpha: 0.1);
  background-color: rgba($color: #334155, $alpha: 0.01);
  &:hover {
    background-color: rgba($color: #334155, $alpha: 0.05);
  }
}
