<nav class="py-4">
  <div class="flex flex-column">
    <div class="flex flex-row justify-content-center">
      <div class="icon-wrapper flex flex-row justify-content-center align-items-center border-round-md text-white w-4rem h-4rem mr-2">
        <i class="pi pi-calculator text-6xl"></i>
      </div>
      <div class="flex flex-row justify-content-center align-items-center font-bold text-4xl">
        Compensa?
      </div>
    </div>
    <div class="flex flex-row justify-content-center align-items-center md:text-lg pt-4 text-center">
      Compare produtos, calcule proporções, organize sua lista de compras e tome decisões inteligentes.
    </div>
  </div>
</nav>
