<nav class="py-4 relative">
  <div class="flex flex-column">
    <div class="flex flex-row justify-content-center relative">
      <div class="flex flex-row justify-content-center align-items-center">
        <div class="icon-wrapper flex justify-content-center align-items-center border-round-md text-white w-4rem h-4rem mr-2">
          <i class="pi pi-calculator text-6xl"></i>
        </div>
        <div class="flex justify-content-center align-items-center font-bold text-4xl">
          Compensa?
        </div>
      </div>

      @if (isLoggedIn) {
        <div class="absolute top-0 right-0">
          <p-speeddial [model]="items" direction="down" [transitionDelay]="80">
            <!-- Botão principal (imagem) -->
            <ng-template #button let-toggleCallback="toggleCallback">
              <button class="profile-pic" (click)="toggleCallback($event)">
                <img [src]="profile?.picture" alt="Profile">
              </button>
            </ng-template>
            <!-- Itens do menu -->
            <ng-template #item let-item let-toggleCallback="toggleCallback">
              <div class="items-menu" (click)="toggleCallback($event, item)">
                  <span [class]="item.icon"></span>
                  <span>{{ item.label }}</span>
              </div>
            </ng-template>
          </p-speeddial>
        </div>
      }
    </div>

    @if (showSubtitle) {
    <div class="flex justify-content-center items-center md:text-lg pt-4 text-center">
      Compare produtos, calcule proporções, organize sua lista de compras e tome decisões
      inteligentes.
    </div>
    }
  </div>
</nav>
