.resultado-produto-card {
  border: 2px solid rgb(234, 234, 234);
}

.resultado-produto-card-mais-vantajoso {
  border: 2px solid #16a249;
  background-color: #F1F9F5;
}

.font-color-green {
  color: #16a249;
}
