<div class="footer-style">
  <div class="grid m-0 p-2 h-full">
    <div class="col-4 p-0">
      <a
        routerLink=""
        title="Comparador"
        routerLinkActive="active"
        class="flex flex-column justify-content-center align-items-center border-round button-footer font-medium h-full"
      >
        <i class="pi pi-chart-line font-medium" title="Comparador" [ngClass]="isMobile ? 'text-xl' : ''"></i>
        @if(isDesktop) {
          <span class="text-center mt-3">Comparador</span>
        }
      </a>
    </div>

    <div class="col-4 py-0 px-2">
      <a
        title="Regra de Três"
        routerLink="/regra-de-tres"
        routerLinkActive="active"
        class="flex flex-column justify-content-center align-items-center border-round button-footer font-medium h-full"
      >
        <i class="pi pi-calculator font-medium" title="Regra de Três" [ngClass]="isMobile ? 'text-xl' : ''"></i>
        @if(isDesktop) {
          <span class="text-center mt-3">Regra de Três</span>
        }
      </a>
    </div>

    <div class="col-4 p-0">
      <a
        title="Lista de Compras"
        routerLink="/lista-compras"
        routerLinkActive="active"
        class="flex flex-column justify-content-center align-items-center border-round button-footer font-medium h-full"
      >
        <i class="pi pi-list font-medium" title="Lista de Compras" [ngClass]="isMobile ? 'text-xl' : ''"></i>
        @if(isDesktop) {
          <span class="text-center mt-3">Lista de Compras</span>
        }
      </a>
    </div>
  </div>
</div>
